<p>
  <b>Company:</b>
  <%=h @searchoffer.company %>
</p>

<p>
  <b>Address:</b>
  <%=h @searchoffer.address %>
</p>


<%= link_to 'Edit', edit_searchoffer_path(@searchoffer) %> |
<%= link_to 'Back', searchoffers_path %>